// sassy
$siteBackground: pink;
$color1: #443355;

@mixin border-radius($px) {
  border-radius:$px;
  -moz-border-radius:$px;
  -webkit-border-radius:$px;
}

@mixin clearfix() {
  
}

#ideas {
  background: $siteBackground;

  .idea {
    border: lighten($siteBackground, 10%) 1px solid;
    .delete-button {
      @include border-radius(4px);
      @clearfix;
    }
  }
  .foo {
    border: green 1px solid;
  }
  .bar {
    border: green 1px solid;
  }
}

// not sassy
#ideas {
  background: pink;
}
  #ideas .idea {
    border: green 1px solid;
  }
  #ideas .foo {
    border: green 1px solid;
  }
  #ideas .bar {
    border: green 1px solid;
  }
