<h1>Welcome To The DOM</h1>
<article id="my-list">

  <p class="apple">Donec vitae sapien ut libero venenatis faucibus. </p>

  <p class="orange">Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Donec interdum.</p>

  <p class="pear">Metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</article>
<script src="doc.js"></script>
